beautifulsoup4==4.6.0
Flask==0.12.2
Flask-Bootstrap==3.3.7.1
geopy==1.11.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.1.0
jupyter-core==4.3.0
numpy==1.13.0
pandas==0.20.2
request==0.0.0
requests==2.20.0
urllib3==1.26.5
